@import 'bootstrap/dist/css/bootstrap';

#user-auth-btns{
    * {
        color: white !important;
    }
}
#bg-hero{
    height: 450px;
    background-image: asset-url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    *{
        color: white;
    }
}

a{
    color: rgba(255,255,255,.8) !important;
}